{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Poll{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete-style.css' %}">
{% endblock links %}

{% block content %}
    <div class="wrapper">
        <h1>WAIT!</h1>
        <h3>This is irreversible. Everything related to your Poll will be deleted!</h3>
        <hr>

        <span id="buttons">
            <a class="button" onclick="window.history.back();">Back</a>
            <form method="POST" action="{% url 'poll:delete_poll' poll.id poll.slug %}">
                {% csrf_token %}
                <a class="button" onclick="parentNode.submit();" style="color: darkred;">Delete</a>
            </form>
        </span>
    </div>
{% endblock content %}