{% extends 'base.html' %}

{% block title %}Poll Deletion{% endblock title %}

{% block content %}
    <div class="container">
        <p>Are you sure you want to delete this Poll?</p>
        <p>It's irreversible!</p>
        <span>
            <form method="POST">
                {% csrf_token %}
                <button style="display: inline-block">Delete</button>
            </form>
            <a href="{% url 'poll:view_poll' poll.id poll %}"><button>Back</button></a>
        </span>
    </div>
{% endblock content %}