{% extends 'base.html' %}
{% load static %}

{% block title %}Poll{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/single-poll-style.css' %}">
{% endblock links %}

{% block content %}
    <div id="poll">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;margin: 30px auto;">
            <div id="pollName" class="card-header">{{ poll }}</div>
            <div class="card-body">
                {% if can_vote %}
                    {% include 'poll/single-poll/can_vote.html' %}
                {% else %}
                    {% include 'poll/single-poll/cant_vote.html' %}
                {% endif %}
            </div>

            <div id="options" class="text-center">
                <button id="percent" class="btn btn-primary">Percents</button>
                {% if is_trusted %}
                    {% include 'poll/single-poll/trusted-settings.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="comments">
        {% if comment_form %}
            <div id="comment-form" class="form-group">
                <form method="POST" action="{% url 'poll:comment_poll' poll.id poll %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        {% endif %}
        <div class="comment">
            {% for comment in comments %}
                <div>
                {{ comment.user }}: {{ comment.comment }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'poll/js/single-poll-script.js' %}"></script>
{% endblock %}