{% extends 'base.html' %}
{% load static %}

{% block title %}Create Poll{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/create-poll-style.css' %}">
{% endblock links %}

{% block content %}
    <span id="create-poll">
        <form method="POST">
            {% csrf_token %}
            {{ question_form }}
            <span id="answers">
                <span id="management">
                    {{ answer_formset.management_form }}
                </span>
                <span id="fields">
                    {% for form in answer_formset %}
                        {{ form }}
                    {% endfor %}
                </span>
            </span>
            <span class="buttons">
                <button id="add-form-btn">Add another Answer</button>
                <button>Submit</button>
            </span>
        </form>
    </span>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'poll/js/create-poll-script.js' %}"></script>
{% endblock scripts %}