{% extends 'base.html' %}
{% load static %}

{% block title %}Create Poll{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/create-poll-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip-style.css' %}">
{% endblock links %}

{% block content %}
    <div id="rel-container">
        {% include 'form-shared/form-errors.html' with form=question_form %}

        <div id="container-content">
            <h2 id="container-header">Create Poll</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in question_form %}
                    <p>
                        {{ field.label }}
                        {{ field }}
                    </p>
                {% endfor %}

                <div id="answers">
                    <div id="management">
                        {{ answer_formset.management_form }}
                    </div>
                    <div id="fields">
                        {% for form in answer_formset %}
                            {{ form }}
                        {% endfor %}
                    </div>
                </div>

                <span class="buttons">
                    <button id="add-form-btn">Add Answer</button>
                    <button>Create</button>
                </span>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'poll/js/create-poll-script.js' %}"></script>
{% endblock scripts %}