{% extends 'base.html' %}
{% load static %}

{% block title %}Create Poll{% endblock title %}

{% block content %}
    <div class="text-center" style="margin: 50px;">
        <form method="POST">
            {% csrf_token %}
            {{ question_form }}
            <div id="answers">
                <div id="management">
                    {{ answer_formset.management_form }}
                </div>
                <div id="fields">
                    {% for form in answer_formset %}
                        {{ form }}
                    {% endfor %}
                </div>
            </div>
            <button id="add-form-btn">Add another Answer</button>
            <button>Submit</button>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'poll/js/create-poll-script.js' %}"></script>
{% endblock scripts %}