body {
    font-family: "Roboto", "sans-serif";
    background-color: rgba(0,0,0,.4);
}

#settings-anchor {
    border-right: 2px solid rgba(0,0,0,.5);
}

#settings-anchor:hover {
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #193047;
}

.footer-link {
    color: navajowhite;
    text-decoration: none;
    margin: 40px;
}

.footer-link:hover {
    cursor: pointer;
    color: navajowhite;
    text-decoration: underline;
}

/* Wrapper class that centers the element */
.wrapper {
    width: 50%;
    margin: 10px auto;
}