<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="my-2 my-lg-0">
            {% if request.user.is_authenticated %}
                {% include 'navbar/logged_in.html' %}
            {% else %}
                {% include 'navbar/logged_out.html' %}
            {% endif %}
        </div>
    </div>
    </ul>
</nav>