<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </ul>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-link">
                <a href="{% url 'poll:poll_viewer' %}">Polls</a>
            </li>
        </ul>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    {% include 'navbar/logged_in.html' %}
                {% else %}
                    {% include 'navbar/logged_out.html' %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>