#id_answers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#options {
    padding-bottom: 20px;
}

#comments {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#comment-form {
    margin: auto;
    width: 500px;
}

#deleteBtn {
    display: block;
    width: 70px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}