{% extends 'base.html' %}
{% load static %}

{% block title %}My account{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/settings-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}">
{% endblock links %}

{% block content %}
    <div>
    {% include 'accounts/user-management/spa-components/home-component.html' %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'accounts/js/user-management-spa.js' %}"
    type="module"></script>
    <script src="{% static 'accounts/js/telemetry-script.js' %}"></script>
{% endblock scripts %}