<section class="wrapper" id="password-wrapper">
    <div id="rel-container">
        {% include 'form-shared/form-errors.html' %}
        <div id="container-content">
            <h2 id="container-header">{{ auth_header }}</h2>
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label }}
                        {{ field }}
                    </p>
                {% endfor %}
                <a class="hybrid" href="{% url 'accounts:my_profile' %}?api=true">Back</a>
                <button>Submit</button>
            </form>
        </div>
    </div>
</section>
