<div id="poll">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;margin: 30px auto;">
        <div id="pollName" class="card-header">{{ poll }}</div>
        <div class="card-body">
            {% include 'poll/single-poll-page/components/form-section.html' %}
        </div>

        <div id="options" class="text-center">
            <button id="percent" class="btn btn-primary">Percents</button>
            {% if is_trusted %}
                {% include 'poll/single-poll-page/components/trusted-settings-section.html' %}
            {% endif %}
        </div>
    </div>
</div>