#rel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    text-align: center;
    color: white;
}

#auth-header {
    display: inline-block;
    margin-bottom: 30px;
}

#auth-container {
    padding: 25px;

    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    width: 20%;
}

#auth-container input {
    display: block;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-bottom: 2px solid gray;
    color: white;
}

#auth-container button {
    margin: 10px;
    color: white;
    background-color: red;
    opacity: 0.7;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 10px;
}

#errors {
    position: relative;
    right: 100px;
    padding: 10px;

    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
}