/* CSS for Settings hybrid component */
#username {
    text-align: center;
}

#settings-wrapper {
    float: left;
}

#poll-wrapper {
    float: right;
}

article > hr {
    margin: 10px;
}

#settings-wrapper div {
    margin: 10px;
}

/* CSS for Delete hybrid component. Also applying some of the Settings style */
#delete-wrapper, #telemetry-wrapper {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

#buttons {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

#buttons > form {
    display: inline-block;
}

.button {
    margin: 10px;
}