#login-container {
    text-align: center;

    width: 30%;
    height: 100px;

    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#register-container {
    text-align: center;

    width: 30%;
    height: 100px;

    margin: auto;
    position: absolute;
    top:-250px;
    bottom: 0;
    left: 0;
    right: 0;
}